body {
    padding-bottom: 50px;
}

#loginModal .modal-content {
    border-radius: 25px;
}

#loginModal .modal-content .modal-header {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

#carouselAvatar {
    height: 100px;
    width: 100px;
}

#carouselAvatar .carousel-inner img {
    height: 100px;
    width: 100px;
}

canvas {
    display: block;
    margin: 0;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}