body {
    padding-bottom: 50px;
}

#loginModal .modal-content {
    border-radius: 25px;
}

#loginModal .modal-content .modal-header {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

#carouselAvatar {
    height: 100px;
    width: 100px;
}

#carouselAvatar .carousel-inner img {
    height: 100px;
    width: 100px;
}

.timePanel {
    display: none;
}

#gameSetup {
    display: none;
}

.game {
    display: none;
}

canvas {
    display: block;
    margin: 0;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon-volume {
    position: fixed;
    right: 20px;
    top: 20px;
    font-size: 50px !important;
    cursor: pointer;
    z-index: 9999;
}

.icon-exit {
    position: fixed;
    left: 20px;
    top: 20px;
    font-size: 50px !important;
    cursor: pointer;
    z-index: 9999;
}

.controls {
    display: block;
}

.controls .fa {
    font-size: 50px !important;
}

.fa:hover {
    color: white !important;
}

.fa:focus {
    color: white !important;
}

#chevron-up {
    position: fixed;
    left: 125px;
    bottom: 160px;
}

#chevron-down {
    position: fixed;
    left: 125px;
    bottom: 50px;
}

#chevron-right {
    position: fixed;
    left: 185px;
    bottom: 100px;
}

#chevron-left {
    position: fixed;
    left: 75px;
    bottom: 100px;
}

#bomb-key {
    position: fixed;
    right: 100px;
    bottom: 100px;
}